include ../mixins/all

mixin title(title)
	title #{title}

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="/assets/css/main.css")
		link(rel="icon" href="/favicon.png")
		block title
	body

		include header

		block content

		include footer